.sidebar {
  float: right;
  width: 30%;
  height: 100vh;
  background-color: aqua;
  border: 3px solid black;
  padding: 1%;
}

img {
 width: 250px;
 padding-right: 10px;
}

.float {
  float: left;
}